.img-container {
  margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .img-wrapper {
    position: relative;
    border-radius: 0.2rem;
    overflow: hidden;
    display: inline-block;
  }
  
  .center-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
  .img-wrapper .overlay {
    background: rgba(237, 0, 49, 0.7);
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: all, 0.4s;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .img-wrapper .overlay {
      transition: none;
    }
  }
  
  .img-wrapper .overlay .overlay-infos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all, 0.3s;
    transition-delay: .2s;
    color: #fff;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .img-wrapper .overlay .overlay-infos {
      transition: none;
    }
  }
  
  .img-wrapper .overlay .overlay-infos h5 {
    margin-bottom: 15px;
  }
  
  .img-wrapper .overlay .overlay-infos a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid #fff;
    line-height: 35px;
    text-align: center;
    color: #fff;
    text-decoration: none;
  }
  
  .img-wrapper .overlay .overlay-infos a:hover {
    background: #fff;
    color: #ff214f;
  }
  
  .img-wrapper:hover .overlay, .img-wrapper:active .overlay {
    top: 0;
    visibility: visible;
    opacity: 1;
  }
  
  .img-wrapper:hover .overlay .overlay-infos, .img-wrapper:active .overlay .overlay-infos {
    top: 50%;
  }

  .center-img{
    width: 800px;
    height: 400px;
  }
  
nav{
  z-index: 10;
}
 .wrapper{
  z-index: 10;
  
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.AdminFa{
  margin-top: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 35px;
}

.tentang-kami{
  margin-top: 99px;
  width: 286px;
  height: 33px;
  left: 886px;
  top: calc(50% - 33px/2 + 487.5px);

  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 19px;
}

/* .list-item {
  display: block;
  margin-bottom: 15px;
}

.list-item:last-child {
  margin-bottom: 0;
}


.fa,
.tentang-kami,
.logout {
  display: block;
  padding: 8px 16px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.login:hover,
.fa:hover,
.tentang-kami:hover,
.logout:hover {
  background-color: #333;
  color: #fff;
} */
/* .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
} */

