*, html, body{
    margin: 0;
    padding: 0;
    font-family: "inter", sans-serif;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: #247372;
  border-radius: 5px;
}
.hContainer{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #F6F4F1;
    z-index: 1;
}
 .hContainer.login-img{
  background-image: url(../asset/haji.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 0;
}
.wrapper{ /*  Navbar */
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 2;

    box-shadow: 0px 2px 4px 5px rgba(48, 46, 46, 0.22);
}
.img-logo{
    position: absolute;
    width: 220px;
    height: 53.11px;
    left: 16px;
    top: 12px;
    border: none;
}
.sidebar{ /* SideBar */
    background: lightgray;
    color: black;
    width: 520px;
    height: 100%;
    position: fixed;
    top: 80px;
    right: -569px;
    padding: 20px;
    -webkit-transition: right 0.7s ease-in-out;
    -moz-transition: right 0.7s ease-in-out;
    transition: right 0.7s ease-in-out;
    overflow-y: auto;

    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 0px 2px 4px 5px rgba(48, 46, 46, 0.22);
}
.sidebar.active {
  right: 0px;
  -webkit-transition: right 0.7s ease-in-out;
  -moz-transition: right 0.7s ease-in-out;
  transition: right 0.7s ease-in-out;
}
.sidebar a:hover {
    color: #757575;
}
.hamburger{
    /* position: relative; */
    display: block;
    width: 35px;
    cursor: pointer;
    justify-content: space-between;
    position: absolute;
    right: 35px; 
    top: 22px;
    z-index: 2;

    appearance: none;
    outline: none;
    background: none;
    border: none;
  }
.hamburger .bar, .hamburger:after, .hamburger:before{
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 5px;
  }
.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-8px, 6px);
  }
.hamburger.is-active .bar{
    opacity: 0;
  }
.hamburger.is-active:after{
    transform: rotate(45deg) translate(-8px, -7px);
  }
a {
    color: black;
  }
a:link{
    text-decoration: none;
  }
ul{
    list-style-type: none;
  }
  li{
    display: flex;
    padding-top: -20px;
  }
.list-item .login{
    display: flex;
    margin-top: -53px;
    margin-right: 0px;
    margin-left: 160px;
    width: 309px;
    height: 34px;
    left: 1002px;
    top: calc(50% - 34px/2 - 397px);

    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 48px;
}
.logout{
    margin-top: -40px;
    margin-left: 400px;
    width: 215px;
    height: 34px;
    left: 1260px;
    top: calc(50% - 34px/2 + 454px);

    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 48px;

    color: #000000;
}
.fa{
    margin-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 48px;
}
.tentang-kami{
    margin-top: 275px;
    width: 286px;
    height: 33px;
    left: 886px;
    top: calc(50% - 33px/2 + 487.5px);

    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 19px;
}
.user-logo{
    background-repeat: no-repeat;
    margin: 0px 0px -8px 80px;
    width: 61px;
    height: 61px;
    left: 904px;
    top: 90px;
    border: none;
}
.center{
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #F6F4F1;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  font-family: 'inter', sans-serif;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #FF7315;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #FF7315;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #FF7315;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #247372;
  border-radius: 25px;

  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #4C8FAA;
  transition: .5s;
}
.heading{
  padding: 10px;
  height: 470px;
  position: absolute;
  top: 50%;
  left: 180px;
  transform: translate(-40%, -59%);
  width: 400px;
  font-size: 1.8rem;
}
.paragraf{
  right: 20px;
  position: absolute;
  top: 150px;
  left: 20px;
}
.mid-img{
  display: block;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 980px;
  background: black;
  border-radius: 0px;
}
.verifikasi{
  position: absolute;
  padding: 10px;
  height: 470px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;

  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 97px;
  text-align: center;
  color: #FF7315;
}
.img-verify{
  position: absolute;
  padding: 10px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1300px;
}
.collapse-btn {
  display: block;
  width: 700px;
  height: 40px;
  background-color: #D9D9D9;
  border: none;
  color: black;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  font-weight: 550;

  position: absolute;
  top: 20%;
  left: 300px;
  transform: translate(-40%, -50%);
  border-radius: 5px;
}
.collapse-btn:hover{
  background-color: #E5E5E5;
}
.collapse-content {
  display: none;
  left: 50px;
  margin-top: 180px;
  position: absolute;
}
.collapse-btn:after {
  content: '\25BC';
  float: right;
  margin-right: 10px;
  transition: transform 0.3s;
}

.collapse-btn.active:after {
  transform: rotate(180deg);
}
.Ta{
  font-size: 18px;
  padding: 10px;
  font-weight: 550;
  text-align: left;
}
.Ta-ra{
  position: absolute;
  font-size: 12px;
  opacity: 0.5;
  left: 50px;
  bottom: auto;
}
.sosmed{
  position: absolute;
  display: flex;
  align-items: center;
  top: 200px;
  left: 925px;
  transform: translate(-50%, -50%);
  width: 1000px;
}
.wa, .ig, .fb{
  position: relative;
  width: 100px;
  margin-right: 200px;
}
.wa img, .ig img, .fb img{
  width: 90px;
}
.wa p, .ig p, .fb p{
  width: 200px;
  margin-top: 10px;
  font-size: 14px;
}
.boxes{
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.box {
  width: 300px;
  height: 400px;
  overflow: hidden;
  position: relative;
  top: 80px;
  margin: 100px;
}
.button-container {
  position: absolute;
  bottom: 0; 
  width: 100%; 
  background-color: #D9D9D9;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-container.form{
  position: absolute;
  top: 2040px;
  height: 10px;
  width: 90%;
  margin-left: 50px;
  background-color: inherit;
  box-shadow: none;
}
.button-container.form{
  position: absolute;
  top: 2040px;
  height: 10px;
  width: 90%;
  margin-left: 50px;
  background-color: inherit;
  box-shadow: none;
}
.button-container.pa{
  position: absolute;
  top: 380px;
  height: 10px;
  width: 90%;
  margin-left: 50px;
  background-color: inherit;
  box-shadow: none;
}
img{
  object-fit: cover;
}
.buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
}
.left-button {
  background-color: #FF7315;
  padding: 10px;
  border-radius: 5px;
  border: none;
  float: left;
  cursor: pointer;

  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.left-button:hover {
  background-color: #FF9D3A;
}
.left-button.batal{
  position: relative;
  background-color: #D9D9D9;
  color: black;
  top: 129.2px;
}
.left-button.batal:hover{
  background-color: #DCDCDC;
}
.left-button.kmbl{
  position: relative;
  background-color: #D9D9D9;
  color: black;
  top: 0px;
}
.left-button.kmbl:hover{
  background-color: #DCDCDC;
}
.right-button {
  background-color: #247372;
  padding: 10px;
  border-radius: 5px;
  border: none;
  float: right;
  margin-right: 20px;
  cursor: pointer;

  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(1, 1, 1, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.right-button:hover {
  background-color: #369B9B;
}
.kirim{
  position: absolute;
  background-color: #247372;
  color: white;
  border-radius: 5px;
  border: none;
  float: left;
  margin-left: 800px;
  top: 2070px;
  cursor: pointer;
  width: 170px;
  height: 54px;

  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.kirim:hover {
  background-color: #369B9B;
}
.bBtn{
  position: absolute;
  background-color: #D9D9D9;
  color: black;
  border-radius: 5px;
  border: none;
  float: left;
  margin-left: 551px;
  top: 2200px;
  cursor: pointer;
  width: 170px;
  height: 54px;

  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bBtn:hover{
  background-color: #DCDCDC;
}
.hContainer.daftar{
  height: 2300px;
}
.img-kotak{
  width: 300px; 
  height: 400px; 
  object-fit: cover;
}
.form{
  padding: 20px;
  top: 130px;
  position: absolute;
  display: block;
}
.form h3{
  font-size: inherit;
  font-weight: inherit;
  display: inline-block;
  vertical-align: middle;
}
.form input[type="checkbox"]{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}
.ha-screen-reader{
  width: var(--ha-screen-reader-width, 1px);
  height: var(--ha-screen-reader-height, 1px);
  padding: var(--ha-screen-reader-padding, 0);
  border: var(--ha-screen-reader-border, none);

  position: var(--ha-screen-reader-position, absolute);
  clip: var(--ha-screen-reader-clip, rect(1px, 1px, 1px, 1px));
  overflow: var(--ha-screen-reader-overflow, hidden);
}
.field__input{ 
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
  background-color: transparent;
  border-radius: 0;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: inherit;
}
.field__input:focus::-webkit-input-placeholder{
  color: var(--uiFieldPlaceholderColor);
}
.field__input:focus::-moz-placeholder{
  color: var(--uiFieldPlaceholderColor);
}
.field{
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);   
  --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgb(255, 115, 21));

  display: var(--fieldDisplay, inline-flex);
  position: relative;
  font-size: var(--fieldFontSize, 1rem);
}
.field__input{
  box-sizing: border-box;
  width: var(--fieldWidth, 400px);
  height: var(--fieldHeight, 3rem);
  padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, .25));  
}
.field__input:focus{
  outline: none;
}
.field__input::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}
.field__input::-moz-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}
.field__input:focus::-webkit-input-placeholder{
  opacity: 1;
  transition-delay: .2s;
}
.field__input:focus::-moz-placeholder{
  opacity: 1;
  transition-delay: .2s;
}
.field__label-wrap{
  box-sizing: border-box;
  pointer-events: none;
  cursor: text;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.field__label-wrap::after{
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 0;
  opacity: 0;

  position: absolute;
  bottom: 0;
  left: 0;
}
.field__input:focus ~ .field__label-wrap::after{
  opacity: 1;
}
.field__label{
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  top: calc(50% - .5em);

  line-height: 1;
  font-size: var(--fieldHintFontSize, inherit);

  transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
}
.field__input:focus ~ .field__label-wrap .field__label,
.field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
  --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);

  top: var(--fieldHintTopHover, .25rem);
}
.field_v1 .field__label-wrap::after{
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
  transition: opacity .2s ease-out;
}
.tanggal [type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
.tanggal [type="date"]::-webkit-inner-spin-button {
  display: none;
}
.tanggal [type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.za-lahir{
  display: block;
}
.tanggal-input{
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}
.goldar{
  position: relative;
  width: 200px;
  height: 50px;
  margin: inherit;
  font-size: 16px;
  font-family: inherit;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.goldar:after{
  content: '\25BC';
  position: absolute;
  top: 18px;
  right: 10px;
  font-size: 16px;
  color: #333;
  pointer-events: none;
}
.goldar select{
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0 20px 0 10px;
  border: none;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
}
.note{
  font-size: 12px;
  color: blue;
  padding-left: 10px;
}
.note-1{
  color: red;
}
.file-input{
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  color: #333;
  font-size: 14px;
  text-align: center;
}
.file-input.bayar{
  display: inline-block;
  top: 100px;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  color: #333;
  font-size: 14px;
  text-align: center;
}
.fth{
  position: relative;
  top: 100px;
  margin-left: 20px;
}
.file-input input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.schedule-table {
  top: 130px;
  width: 100%;
  border-collapse: collapse;
  position: absolute;
}
.schedule-table th{
  background-color: #ddd;
  text-align: center;
  padding: 8px;
  border: 1px solid #ccc;
}
.schedule-table td{
  border: 1px solid #ccc;
  padding: 8px;
}
.schedule-row:nth-child(even){
  background-color: #f2f2f2;
}
.schedule-date,
.schedule-airline,
.schedule-return-date,
.schedule-availability{
  text-align: center;
}
.schedule-select{
  text-align: center;
}
.Pa{
  position: relative;
}
.Pa p{
  position: absolute;
  top: 150px;
  left: 20px;
  width: 130px;
}
.Pa p:nth-of-type(2){
  left: 290px;
  width: 380px;
}
.Pa p:nth-of-type(3){
  top: 180px;
  left: 20px;
  width: 220px;
}
.Pa p:nth-of-type(4){
  top: 180px;
  left: 290px;
  width: 190px;
}
.upload_foto{
  top: 100px;
}
.bContainer{
  position: relative;
  display: block;
  background-color: white;
  width: 1369px;
  height: 600px;
  margin: 120px auto; 
  box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bContainer img{
  width: 270px;
  padding-top: 8px;
  padding-left: 20px;
}
.line {
  position: relative;
  margin-left: 20px;
  height: 3.5px;
  width: 1200px;
  background-color: black;
}
.line.n{
  position: relative;
  margin-left: 20px;
  margin-top: 38px;
  bottom: 0;
  height: 3.5px;
}
.bContainer h3{
  position: relative;
  margin-top: 22px;
  margin-left: 20px;
  font-size: 22px;
} 
.bContainer h4{
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  color: #818181;
}
.tombol{
  position: absolute;
  width: 186px;
  height: 54px;
  border: none;
  right: 40px;
  bottom: 60px;
  cursor: pointer;

  background: #247372;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tombol-2{
  position: absolute;
  width: 186px;
  height: 54px;
  border: none;
  right: 260px;
  bottom: 60px;
  cursor: pointer;

  background: #247372;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tombol-3{
  position: absolute;
  width: 186px;
  height: 54px;
  border: none;
  right: 480px;
  bottom: 60px;
  cursor: pointer;

  background: #247372;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.pContainer{
  margin: 0 auto ;
  position: relative;
  top: 65px;
  margin-left: 10px;
  height: fit-content;
}
.horizontal{
  position: relative;
  width: 1500px;
  height: 0px;
  top: 134px;
  
  border: 2px solid #000000;
}
.pContainer h1{
  position: absolute;
  left: 19px;
  top: 44px;
  
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  
  color: rgba(0, 0, 0, 0.8);
}
.pContainer p{
  position: absolute;
  top: 100px;
  left: 43px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.pContainer i{

}
.pContainer .search-container {
  float: right;
}

.pContainer input[type=text] {
  position: relative;
  padding: 6px;
  margin-top: 82px;
  margin-right: -37px;
  font-size: 17px;
  background: rgba(186, 186, 186, 0.17);
  border: 0.5px solid #000000;
  border-radius: 17px;
  z-index: 0;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 82px;
  margin-right: 87px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 17px;
    cursor: pointer;
    position: relative;
    z-index: 0;
}
.search-container button:hover {
  background: #ccc;
}
.block{
  position: absolute;
  width: 1090px;
  height: 75px;

  background: #FFFFFF;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.block p {
  position: absolute;
  z-index: 1;
  top: 28px;
  margin-left: -31px;
  padding: 2px;
  color: black;
}
.block p:nth-of-type(2) {
  position: absolute;
  z-index: 1;
  top: 28px;
  margin-left: 200px;
  padding: 2px;
  color: black;
  text-transform: uppercase;
}
.block-1{
  left: 20px;
  top: 166px;
}
.block-2{
  left: 20px;
  top: 266px;
}
.block-3{
  left: 20px;
  top: 366px;
}
.block-4{
  left: 20px;
  top: 266px;
}
.tnm{
  position: absolute;
  width: 152px;
  height: 32px;
  border-radius: 6px;
}
.tnm-1{
  background-color: #FF7315;
  top: 19px;
  right: 200px;
  padding: 0px;
  border: none;
  cursor: pointer;
}
.tnm-1 p{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;

  left: 15px;
  top: 0px;
  position: relative;
}
.tnm-2{
  background-color: #247372;
  padding: 0px;
  right: 19px;
  top: 19px;
  border: none;
  cursor: pointer;
}
.tnm-2 p{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  margin: 0px;
  top: 5px;
  right: 44px;
  z-index: 0;
}
.tnm-3{
  background-color: #247372;
  padding: 0px;
  right: 381px;
  top: 19px;
  border: none;
  cursor: pointer;
}
.tnm-3 p{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  margin: 0px;
  top: 5px;
  right: 47px;
  z-index: 0;
}
.tnm-5{
  background-color: #FF7315;
  top: 86px;
  left: 594px;
  padding: 0px;
  border: none;
  cursor: pointer;
}
.tnm-5 p{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  margin: 0px;
  top: 6px;
  right: 47px;
  z-index: 0;
  width: 100px;
  left: 26px;
}
.tnm-6{
  background-color: #FF7315;
  top: 86px;
  left: 359px;
  padding: 0px;
  border: none;
  cursor: pointer;
}
.tnm-6 p{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  margin: 0px;
  top: 6px;
  right: 47px;
  z-index: 0;
  width: 135px;
  left: 9px;
}
.tnm-7{
  background-color: #D9D9D9;
  top: 86px;
  left: 575px;
  padding: 0px;
  border: none;
  cursor: pointer;
}
.tnm-7 p{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: black;
  position: absolute;
  margin: 0px;
  top: 6px;
  right: 47px;
  z-index: 0;
  width: 135px;
  left: 9px;
}
.tns{
  position: absolute;
  width: 312px;
  height: 32px;
  background: #247372;
  border-radius: 6px;
  left: 388px;
  border: none;
  cursor: pointer;
  top: 22px;
}
.tns p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;

  left: 15px;
  top: 0px;
  position: relative;
}
.uil-lock-alt{
  margin-left: 525px;
  font-size: 20px;
}
.sts{
  right: 400px;
  position: absolute;
  bottom: 300px;
}
.hb h3{
  position: relative;
  padding: 0px;
  top: 14px;
  left: 15px;
}
.hb p{
  padding: 0px;
  position: absolute;
  top: 34px;
  left: 50px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.61);
}